<html>

<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" type="text/css" href="mahjong.css">
</head>

<body>
    <div id="mahjong">
        <div class="toolbar">
            <button class="item" v-on:click="deal">Deal!</button>
            <span class="item">
                <label>Layout:</label>
                <select v-model="selectedLayout">
                    <option v-for="layout in layoutOptions">{{layout}}</option>
                </select>
            </span>
            <button class="item" v-on:click="showMoves">Show Moves({{moves.length}})</button>
        </div>
        <div class="board">
            <div v-for="tile in tiles" class="tile" v-bind:class="{selected: tile === firstTile || tile.selected}"
                v-bind:style="tile.style" v-on:click="select(tile)"></div>
            <div class="cover" v-if="win || lose">
                <div class="message">
                    <h1 class="lose" v-if="lose">
                        Game Over!
                    </h1>
                    <h1 class="win" v-if="win">
                        Cleared!
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <script src="mahjong.js"></script>
</body>

</html>